:root {
    --primary-color: #F26707;
    --secondary-color: #25BEC8;
    --alt-bg-color: #252328;
    --light-color: #403E43;
    --text-light: #fff;
    --defualt-shadow: #252222;
}

.dark-logo-2 {
    display: block;
}
.dark-logo {
    display: none;
}

.light-logo {
    display: none;
}