*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --trinary-color:#252328;
    
    --heading-font:'Raleway', sans-serif;
    --body-font:'Poppins', sans-serif;
    --body-text-color:'#403E43';

    --default-width-layout:85%;
    --overlay-main-color:rgba(0, 0, 0, .9);
    --overlay-bg-color:rgba(23, 25, 26, 0.9);

}
body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--body-font);
    font-size: 14px;
    color: var(--text-light);
    line-height: 26px;
}
main.main-content{
    width: 100%;
}
/* Utilities Styling */
.colored-text{color: var(--primary-color);}
img{width: 100%; height: auto;}
ul{list-style: none;}
a{text-decoration: none;}
h1{
    line-height: 1;
    margin: 1em 0;
    font-size: 2.5rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--text-light);
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1.1rem;
}
.heading{
    font-size: 2rem;
    line-height: 2;
    margin-bottom: .3em;
}
.title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.text-center{
    text-align: center;
}
.cta{
    margin-top: 3.5em;
    margin-bottom: 1em;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 2.5rem;
    font-family: var(--body-font);
    font-size: 1.01rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.08em;
    transition: ease 400ms;
    position: relative;
}
.btn-primary{
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 3px 15px -5px #474747;
}
.btn-primary:hover{
    opacity: .9;
    box-shadow: 0 5px 15px -5px #363636;
}
.btn > span{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-light);
    
    /* position: absolute;
    top: 48%;
    right: -15%;
    transform: translateY(-50%);
    z-index: 5; */
}
.separator{
    width: 10%;
    height: 3px;
    border-radius: 50px;
    background: var(--secondary-color);
    margin-bottom: 1.5em;
}
/* Header Styling */
.page-header{width: 100%; background: var(--alt-bg-color);}
.page-header .navbar,
.navbar .navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header .navbar{
    width: var(--default-width-layout);
    margin: 0 auto;
}
.navbar .logo-wrapper{
    width: 6rem;
    min-width: 4rem;
}
.navbar .navbar-menu li:not(.color-switcher-wrapper) {
    padding: 0 1.3rem;
}

.color-switcher{
    cursor: pointer;
}
.navbar{
    position: relative;
}
.menu-toggler i {
    font-size: 2rem;
}
.navbar .navbar-menu li > a,
.color-switcher{
    color: var(--text-light);
    transition: ease 400ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity:.8;
}
.color-switcher > i{font-size: 1.2rem;}
.navbar .navbar-menu li.active a{
    color: var(--primary-color);
    opacity: 1;
}
.navbar .navbar-menu li > a:hover,
.color-switcher:hover{
    color: var(--primary-color);
}
.menu-toggler {
    cursor: pointer;
    color: var(--text-light);
}
.close-menu{
    transition: ease 400ms;
    cursor: pointer;
    color: var(--text-light);
}
.close-menu:hover{
    opacity: .6;
}
/* Color Theme */
.color-switcher {
    position: fixed;
    z-index: 10;
    background-color:var(--alt-bg-color);
    box-shadow: 0 0 5px 1px var(--defualt-shadow);
    padding: .8rem 1rem;
    border-radius: 25px 0 0 25px;
    right: 0;
    top: 50%;
    transition: height ease 600ms;
    width: 3rem;
    max-width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-switcher i {
    font-size: 14px;
}
.color-switcher:hover{
    /* background-color: #d3dfe7; */
    width: 4rem;
}
.color-switcher:hover .color-options {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em 0;
    width: 100%;
    height: 7rem;
    /* background: #ddd; */
}
.color-options{
    display: none;
    transition: display ease 400ms;
}
.color-options > div{
    width: 1.5rem;
    height: 1.5rem;
    /* box-shadow: 0 0 4px 0px #bbb; */
    transition: ease 400ms;
    margin-top: .3em;
    cursor: pointer;
}
.color-options > div:hover{
    transform: scale(1.1);
}
.color-switcher:hover .color-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
[data-theme="white"] {
    background: #E0E5E9;
}
[data-theme="green"] {
    background: #25BEC8;
}
[data-theme="orange"] {
    background: #F26707;
}

/* Main Styling */
.sections{width: 100%; padding: 6rem 0;}
.sections > .sections-inner{
    width: var(--default-width-layout);
    margin: 0 auto;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    position: relative;
}
.light-bg {
    background: var(--light-color);
}
.alt-bg{
    background:var(--alt-bg-color);
}
.intro-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-inner > .col{
    width: 100%;
    height: 100%;
    position: relative;
}
.intro .separator{
    margin-bottom: 0;
}
/* .sections-inner{overflow: hidden;} */
.intro-inner .col:first-child{
    padding-right: 2rem;
}
.social-media-links {
    display:flex;
    align-items: center;
    gap: .8em;
    margin-top: 3rem;
}
.social-media-links > *{
    color: var(--text-light);
    opacity: .8;
    font-size: 1.1rem;
    transition: ease 400ms;
}
.social-media-links > *:hover{
    color: var(--primary-color);
    opacity: 1;
}
.intro-inner .intro-heading{
    display: flex;
    align-items: center;
    gap: 1em;
}
.intro-inner .intro-heading h6{
    font-size: 1.4rem;
    font-weight: 400;
}

.intro-inner .col:last-child > .me-img{
    width: 20rem;
    position: absolute;
    right: 10rem;
    bottom: -16rem;
}
/* Arrow */
.about,
.projects,
.footer {
    position: relative;
}
.about::before,
.projects::before,
.footer::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid inherit;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 50%;
    top: 0rem;
    transform: translateX(-50%);
    z-index: 2;
}
.alt-bg::before{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid var(--light-color);
    border-bottom: 15px solid transparent;
}
.light-bg::before{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid var(--alt-bg-color);
    border-bottom: 15px solid transparent;
}
.project-page::before{
    display: none;
}
/* About */
.about-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.about-intro{
    position: relative;
}
.about-intro .social-media-links{
    position: static;
    justify-content: start;
    margin-top: 4rem;
}
.about-desc{
    opacity: .8;
}
.about-desc .list-of-skills{
    padding-left: 1rem;
    margin: 1rem 0;
}
.list-of-skills li::marker{
    content: '- ';
    font-weight: 600;
}
.list-of-skills li{
    font-weight: 600;
}
/* Tools */
.tools{
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
    width: 100%;
    gap: 1rem;
}
.tools-col {
    padding: 1rem;
}
.tools-col h4{
    margin-bottom: 4em;
}
.tools-item {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 600ms;
    cursor: pointer;
    --translateYMinus: -2rem;
    --translateYPlus: 2rem;
    height: 8rem;
}
.tools-item > .tools-item-label{
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
}
.tools .tools-item:nth-child(odd){
    background: var(--primary-color);
    transform: translateY(var(--translateYMinus));
}
.tools .tools-item:nth-child(even){
    background: var(--secondary-color);
    transform: translateY(var(--translateYPlus));
}
.tools-item:nth-child(odd):hover {
    transform: translateY(var(--translateYMinus)) scale(1.2);
}
.tools .tools-item:nth-child(even):hover {
    transform: translateY(var(--translateYPlus)) scale(1.2);
}
/* Projects */
.projects .separator{
    width: 8%;
}
.projects-inner .cta{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0;
}
/* Footer */
.contact-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.footer .separator{
    width: 40%;
}

.contact-inner .contact-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    color: var(--text-light);
}
.contact-details > .contact-details-item, 
.contact-details-item > .contact-details-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-details-item > .contact-details-icon{
    font-size: 2rem;
    background: var(--light-color);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: .5em;
    transition: ease 300ms;
}
.contact-details-item > .contact-details-icon:hover{
    transform: scale(1.1);
}

.contact-details-item > a{
    color: var(--text-light);
    transition: ease 300ms;
}

.contact-details-item .contact-details-icon:hover ~ a {
    color: var(--primary-color);
}
.footer .separator.long{
    width: 50%;
    background: #ddd;
    height: 1px;
    margin: 0 auto;
}
.footer-bottom{
    padding: 2rem 0 3rem 0;
    text-align: center;
}
.footer-bottom a {
    color: var(--primary-color);
}